<nav class="text-center">
  <a href="#">How to play</a> |
  <a href="#">Create an AI using our API</a> |
  <a href="https://github.com/veswill3/SuperTacToe/issues" target="_blank">Report an issue</a> |
  <a href="#">About</a>
</nav>